<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags for Bootstrap. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS link. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <style type = "text/css" media = "all">
        .highlighted {
            background-color: #FFFF00;
        }
    </style>

    <title>Design API with Pagination</title>
</head>

<body>
<div class="container bg-light">
    <h2>Design API with Pagination</h2>
    <hr>
    <p>
        You are given the task to design an API. Your API is going to have one function,
        where given a long-integer company ID, it is going to return a list of Employee objects.
    </p>
    <p>
        Here is how an Employee object is defined:
    </p>
    <pre><code>
    class Employee {
        long id;
        String firstName;
        String lastName;

        // Plus all the relevant getters and setters.
    }
    </code></pre>
    <p>
        Your API function is going to have access to an instance of a database proxy interface
        called DatabaseProxy, which contains the only following function:
    </p>
    <pre><code>
    interface DatabaseProxy {
        List&lt;Employee&gt; getEmployees(long companyId);
    }
    </code></pre>
    <p>
        So your API function is going to call the <code>dbProxy.getEmployees()</code> method,
        then return the retrieved list of employees to the caller. This is your only interface
        to the database. Pretty straightforward so far.
    </p>
    <p>
        The <code>dbProxy.getEmployees()</code> method returns all the employees for the given
        company in a sorted order, sorted according to increasing employee ID. The caller of
        your API wants the list of employees in the same sorted order returned from the database.
        So there is no need for you to do any kind of additional sorting.
    </p>
    <p>
        However, the caller of your API has one important caveat:<br>
        They can only handle so many employee objects at a given time, for each call.
    </p>
    <p>
        Therefore, you're going to have to design an API with pagination capability. Your API is
        going to have to return a limited subset of the database records each time it's called.
        It is going to be called multiple times until all the records that the caller wants are
        returned to the caller.
    </p>
    <p>
        Please implement the call to your API function and your actual API function definition
        below:
    </p>
    <hr>
    <!-- The page should scroll down to the mainDefLabel anchor when the form is submitted. -->
    <form action="#" th:action="@{/muromuro_questions/eval_design_api_with_pagination#mainDefLabel}"
            th:object="${muroMuroSolution}" method="POST">
    <pre><code>
<label th:for="userInput.callerCode" id="callerLabel">
    // Here is the code for the caller function that is supposed to call your API.
    // All the employee lists to be populated by your API are included here for the
    // sake of this question. Please implement the calls to your API function here, and
    // populate all 4 lists in order, with the Employee objects returned from the calls
    // to <span class="highlighted">your API function</span>. Each list is going to take in a maxSize number of employees:
    //
    void callerFunction(
        List&lt;Employee&gt; list1,  // The first list to populate and return to the caller.
        List&lt;Employee&gt; list2,  // The second list to populate and return to the caller.
        List&lt;Employee&gt; list3,  // The third list to populate and return to the caller.
        List&lt;Employee&gt; list4,  // The fourth list to populate and return to the caller.
        int maxSize,  // The maximum number of employees to be placed in each list.
        long companyId,  // The company ID to be used in the database calls. Pass it into your API.
        DatabaseProxy dbProxy  // Please pass this into your API function as well.
    ) {
</label>
        <textarea rows="6" cols="80" th:field="*{userInput.callerCode}"></textarea>
    }

<label th:for="userInput.mainDefinition" id="mainDefLabel">
    // Please write your API function implementation here.
    // Please make sure to include the pagination capability.
    // Your API function input parameters should contain the companyID and the dbProxy
    // at the very least, along with the necessary input parameters for pagination.
    // Your function should return List&lt;Employee&gt; as a subset of the employees,
    // in the same sorted order as they are returned from the database.
</label>
    <textarea rows="12" cols="80" th:field="*{userInput.mainDefinition}"></textarea></code></pre>
<!-- The <pre><code> stuff here is only for the purposes of debugging during development. Plz remove it soon. -->
<pre><code>
    <div th:switch="*{response.status}">
        <b th:case="${T(com.muromuro.muromuro02.model.MuroMuroResponse.Status).UNDEFINED}"></b>
        <b th:case="*"
                th:text="'Unknown response: ' + *{response.errorMessage}"
                class="text-warning"></b>
    </div>
</code></pre>
    <br>
    <button type="submit" class="btn btn-info col-2">Submit</button>
    </form>
</div>
</body>

</html>
