<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags for Bootstrap. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS link. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- HTMX imports. -->
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>

    <!-- CodeMirror imports. -->
    <script th:src="@{/js/cm6.bundle.js}"></script>

    <!-- Muromuro's own CSS and JS imports. -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/viewstyle.css}" />
    <script th:src="@{/js/viewutils.js}"></script>

    <!-- Meta tags to help resolve the HTMX issues with Spring Security. -->
    <meta name="csrf-header" th:content="${_csrf.headerName}" />
    <meta name="csrf-token" th:content="${_csrf.token}" />

    <title>Design API with Pagination</title>
</head>

<body>
<div class="container bg-light px-3 pt-3 pb-5">
    <h2>Design API with Pagination</h2>
    <hr>
    <p>
        You are given the task to design an API. Your API is going to have one function,
        where given a long-integer company ID, it is going to return a list of Employee objects.
    </p>
    <p>
        Here is how an Employee object is defined:
    </p>
    <pre><code>
    class Employee {
        long id;
        String firstName;
        String lastName;

        // Plus all the relevant getters and setters.
    }
    </code></pre>
    <p>
        Your API function is going to have access to an instance of a database proxy interface
        called DatabaseProxy, which contains the only following function:
    </p>
    <pre><code>
    interface DatabaseProxy {
        List&lt;Employee&gt; getEmployees(long companyId);
    }
    </code></pre>
    <p>
        So your API function is going to call the <code>dbProxy.getEmployees()</code> method,
        then return the retrieved list of employees to the caller. This is your only interface
        to the database. Pretty straightforward so far.
    </p>
    <p>
        The <code>dbProxy.getEmployees()</code> method returns all the employees for the given
        company in a sorted order, sorted according to increasing employee ID. The caller of
        your API wants the list of employees in the same sorted order returned from the database.
        So there is no need for you to do any kind of additional sorting.
    </p>
    <p>
        However, the caller of your API has one important caveat:<br>
        They can only handle so many employee objects at a given time, for each call.
    </p>
    <p>
        Therefore, you're going to have to design an API with pagination capability. Your API is
        going to have to return a limited subset of the database records each time it's called.
        It is going to be called multiple times until all the records that the caller wants are
        returned to the caller.
    </p>
    <p>
        Please implement the call to your API function and your actual API function definition
        below:
    </p>
    <hr>
    <form th:object="${muroMuroSolution}"
          hx-post="/muromuro_questions/eval_design_api_with_pagination"
          hx-trigger="submit"
          hx-target="#muromuro-response-div"
          hx-swap="innerHTML"
          hx-disabled-elt="find button">
        <!-- CodeMirror div for the caller code editor. -->
        <div id="caller-code-editor"></div>
        <!-- The hidden input for the caller code. -->
        <input type="hidden" id="caller-code-input" name="caller-code-input">
        <hr>
        <hr>
        <!-- CodeMirror div for the main definition editor. -->
        <div id="main-def-editor"></div>
        <!-- The hidden input for the main definition. -->
        <input type="hidden" id="main-def-input" name="main-def-input">
        <hr>
        <button type="submit" class="btn btn-info col-2">
            Submit
        </button>
        <div id="muromuro-response-div"></div>
    </form>
</div>
<!-- Bootstrap JS link. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- Extra custom Muromuro scripts called here. -->
<script th:inline="javascript">
    // Calling this function to help resolve the HTMX issues with Spring Security.
    configureHtmxWithCsrf();
    // CodeMirror related setup code.
    const initialCallerCode = /*[[${muroMuroSolution.initialInput.callerCode}]]*/ "";
    setupCodeMirror("caller-code-editor", "caller-code-input", initialCallerCode);
    const initialMainDef = /*[[${muroMuroSolution.initialInput.mainDefinition}]]*/ "";
    setupCodeMirror("main-def-editor", "main-def-input", initialMainDef);
</script>
</body>
</html>
